*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
memeolist/.idea/
memeolist/.settings
memeolist/app/.settings
memeolist/local.properties
memeolist/app/.classpath
.idea/vcs.xml
.idea/misc.xml
