*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
local.properties
memeolist/app/.project
memeolist/.settings/org.eclipse.buildship.core.prefs
memeolist/app/.classpath
memeolist/.project
memeolist/.settings/org.eclipse.buildship.core.prefs
memeolist/app/.classpath
memeolist/app/.project
memeolist/app/.settings/org.eclipse.buildship.core.prefs
